numpy<2.0.0
numba
omegaconf>=2.3.0
torch>=2.1.0
tqdm
vector_quantize_pytorch
transformers>=4.41.1
vocos
IPython
gradio
python-dotenv
pybase16384
pynini==2.1.5; sys_platform == 'linux'
WeTextProcessing; sys_platform == 'linux'
nemo_text_processing; sys_platform == 'linux'
